doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    link(rel='stylesheet' href='/content/admin.css')
    link(rel='stylesheet' href='/content/style.css')
    script(src='/content/jquery-3.5.1.min.js')
    title Admin Dashboard
  body
    ul.menu
      li
        a(href='/admin') داشبورد
      li
        a(href='/admin/item') افزودن کالا
      li
        a(href='/admin/category') دسته‌بندی ها
      li
        a(href='/admin/homepage') صفحه خانه
      li
        a() مدیریت کامنت ها
        ul
          li
            a(href='/admin/comment/accepted') کامنت های تاییدشده
          li
            a(href='/admin/comment/unaccepted') کامنت های تاییدنشده
          li
            a(href='/admin/comment/deleted') کامنت های حذف شده
          
      li
        a(href='#') بزودی...
      li
        a(href='/logout') خروج از حساب
    div.info
      ul#msgs
        if(msg)
          li.err #{msg}
      block content
