doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    link(rel='stylesheet' href='/content/newstyle.css')
    link(rel='stylesheet' href='/content/reset.css')
    title دسته‌بندی - استیکرشاپ
  body
    nav.nav-static
      span.icon-happy
      if(msgs.use && msgs.value &&msgs.value.length>0)
        ul.nav-static-messages
          each msg of msgs.value
            li #{msg}
      if(user)
        if(user.rank == 'admin')
          a.nav-static-account(href='/admin' ) #{user.name}
        else
          a.nav-static-account(href='/profile' ) #{user.name}
      else
        a.nav-static-account(href='/signup' target='_blank') حساب کاربری
    nav.nav-fix
      a.nav-fix-logo(href='/')
        span STICKER SHOP
        hr
        span enjoy shoppinig
      .nav-open
        .nav-btn
          span.line-icon
          span.line-icon
          span.line-icon
        ul.nav-fix-links
          li
            a(href='/') خانه
          li
            a(href='/cart') سبد خرید
          li
            a دسته‌بندی
            ul
              each cat in categories
                li
                  a(href='/category/'+cat.name) #{cat.name}
          li
            a(href='#') درباره ما
          li
            a(href='#') تماس باما
      a.nav-fix-logo.mobile(href='/')
        span STICKER SHOP
        hr
        span enjoy shoppinig
      .nav-fix-items
        span.icon-search.nav-fix-search
        .nav-fix-shopcart
          span.icon-cart
          //- span.nav-fix-shopcart-num //////////////////////////////////////////////// shop count
      form#search-form(action='#' method='get')
        #search-box
          input#search-input(type='text' name='s' placeholder='جستجو در سایت...')
          span.icon-cross#search-close
    .shopcart-box
      .shopcart-items-box
        #load-cart
          img(src='/content/loading.gif')
        .shopcart-items
        .shopcart-summary
          span.shopcart-fullprice 0
          a.shopcart-pay(href='/cart') تکمیل و خرید
      .shopcart-close
    block content
    footer.footer
      .footer-box
        .footer-about
          h4.footer-header درباره
          p.footer-about-text.
            
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای.
            
        .footer-rules
          h4.footer-header شرایط و قوانین
          ul.footer-rules-text
            li صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و
            li لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از
            li صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و
            li لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از
            li صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و
            li لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از
        .footer-contact
          h4.footer-header تماس
          ul.footer-contact-items.footer-rules-text
            li
              span.icon-location2
              a قم، خیابان ارم، جنب کوچه 93، استیکرشاپ
            li
              span.icon-phone
              a (025) 320 2306
            li
              span.icon-mobile2
              a 0919 158 78 42
            li
              span.icon-mail4
              a(href='#') ThePokerFa3e@gmail.com
            li
              span.icon-instagram
              a(href='#') Stickershop.iran
            li
              span.icon-telegram
              a(href='#') @ThePokerFaCe
    script(src='/content/jquery-3.5.1.min.js')
    script(src='/content/owl.carousel.min.js')
    script(src='/content/navbar.js')
    block script
    


    //  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
