body {
  direction: rtl;
  overflow-x: hidden;
  position: relative;
}
.menu {
  display: inline-block;
  width: 20%;
  position: fixed;
  padding: 10px;
  list-style: none;
  top: 0px;
  bottom: 0px;
  background-color: #020039;
}
.menu li {
  color: #e6e6e6;
  padding: 10px 10px;
  background-color: #010026;
  margin: 10px 0px;
  transition: 0.5s;
}
.menu li:hover a {
  margin-right: 20px;
}
.menu li a:visited {
  font-weight: bold;
}
.menu a {
  color: #e6e6e6;
  text-decoration: none;
  transition: 0.5s;
}
.info {
  display: inline-block;
  width: 80%;
  margin-right: 20%;
  padding: 20px 40px;
}
input:not(input[type="checkbox"]):not(input[type="radio"]),
textarea,
label#file,
img.file,
select {
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 10px;
  display: block;
  margin: 10px 0px;
  outline: none;
}
hr.title {
  background: linear-gradient(to left, #aaa, transparent);
  height: 2px;
  margin: 2px 0 10px;
}
hr.separate {
  border: 4px dotted #9999;
  margin: 30px 0px;
}
input:not(input[type="checkbox"]):not(input[type="radio"]),
textarea,
label#file,
select {
  width: 100%;
}
label#file {
  overflow: hidden;
}
img.file {
  max-height: 700px;
  max-width: 100%;
}
input:focus::placeholder {
  opacity: 0;
}
input:focus,
textarea:focus {
  border: 1px solid #b0b0b0;
}
input[type="file"] {
  opacity: 0;
  display: none;
  visibility: hidden;
  z-index: -1;
  position: absolute;
}
ul#msgs {
  width: 100%;
  list-style: none;
  z-index: 110;
}
ul#msgs li {
  font-weight: bold;
  padding: 10px 0;
  border-radius: 20px;
  width: 80%;
  margin: 10px auto;
  text-align: center;
}
ul#msgs .msg {
  background-color: greenyellow;
}
ul#msgs .err {
  background-color: hotpink;
}
table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
table caption {
  width: 100%;
  background-color: #333;
  padding: 10px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}
tbody tr:hover {
  background-color: #fcc;
}
tbody tr:hover td:first-child {
  background-color: #ff6c6c;
  font-weight: bold;
}
th {
  border: 2px solid #b3b3b3;
}
tbody * {
  color: black;
  text-decoration: none;
}
tbody tr td:first-child,
thead th:first-child {
  text-align: right;
}
th,
td {
  padding: 10px;
  font-size: 16px;
}
td {
  border: 1px solid #b3b3b3;
}

.added-hp {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.hp {
  display: inline-block;
  margin: 15px 10px;
  transition: 0.3s;
  width: 160px;
  padding: 5px;
  position: relative;
}
.hp:hover {
  transform: scale(2.2);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-shadow: 0px 1px 3px #000;
}
.hp img {
  width: 100%;
  height: 110px;
}
.hp h4 {
  font-weight: bold;
  text-align: center;
  font-size: 11px;
}
.hp p {
  text-align: center;
  font-size: 10px;
}
.del-hp {
  position: absolute;
  color: red;
  font-size: 12px;
  top: 0;
  right: 0;
  padding: 10px;
  z-index: 2;
  cursor: pointer;
  border-radius: 0 0 0 25%;
  transition: 0.3s;
}
.del-hp:hover {
  background-color: rgba(200, 0, 0, 0.5);
  border-left: 1px solid red;
  border-bottom: 1px solid red;
}
.view-hp {
  position: absolute;
  color: #ff00dd;
  font-size: 12px;
  top: 0;
  left: 0;
  padding: 10px;
  z-index: 2;
  cursor: pointer;
  border-radius: 0 0 25% 0;
  transition: 0.3s;
}
.view-hp:hover {
  background-color: rgba(156, 0, 156, 0.5);
  border-right: 1px solid #ff00dd;
  border-bottom: 1px solid #ff00dd;
}
.comments td.c-text {
  text-align: right;
  vertical-align: middle;
}
.comments td:not(td.c-text) {
  vertical-align: middle;
  text-align: center;
  position: relative;
}

.c-acc {
  color: #81b72e;
}
.c-acc,
.c-accS,
.c-del,
.c-delS,
.c-eacc {
  padding: 10px;
  border-radius: 18px;
  cursor: pointer;
}
.c-accS {
  display: none;
  background-color: #81b72e;
}

.c-del {
  color: #ff6565;
}

.c-delS {
  display: none;
  background-color: #ff6565;
}
.c-eacc {
  color: #75750d;
}

#popup {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
  /* display: flex; */
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  height: 100vh;
  top: 0;
  display: none; 
}

.btns {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  height: 18%;
}
#p-eacc {
  background-color: #1c863c;
}
#p-cancel {
  background-color: #3955b4;
}
.btns span {
  text-align: center;
  flex-grow: 1;
  cursor: pointer;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#new-comment {
  height: 80%;
  margin-bottom: 5px;
}
.popup-form {
  width: 80%;
  height: 80vh;
}
/* .popup-text{
  background-color: #ee3434;
  position: absolute;
  left: 0;
  right: 0;
  top: 20px;
  padding: 15px;
  border-radius: 0 0 20px 20px;
} */
.popup-form {
}
@media only screen and (max-width: 770px) {
  * {
    font-size: 12px;
  }
  .menu {
    width: 100%;
    position: relative;
  }
  .info {
    width: 100%;
    margin: 10px 0 0 0;
  }
  .hp:hover {
    transform: scale(1.8);
    background-color: rgba(0, 0, 0, 0.3);
  }
}
