@charset "UTF-8";
/* FONT ICONS */
@import url("/content/icon.css");
@import url("/content/owl.carousel.min.css");
@import url("/content/category.css");
@font-face {
  font-family: "icomoon";
  src: url("/content/icomoon.eot?5kiojs");
  src: url("/content/icomoon.eot?5kiojs#iefix") format("embedded-opentype"),
    url("/content/icomoon.ttf?5kiojs") format("truetype"),
    url("/content/icomoon.woff?5kiojs") format("woff"),
    url("/content/icomoon.svg?5kiojs#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* ///////// */
@font-face {
  font-family: irsans;
  src: url("/content/iransans.ttf");
}

:root {
  --shopcart-width: 300px;
}

* {
  font-family: irsans;
  font-size: 14px;
}

body {
  position: relative;
  overflow-x: hidden;
  direction: rtl;
}

.nav-static {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #312e2e;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px 30px;
}

.nav-static .nav-static-messages li {
  font-weight: bold;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: none;
  cursor: default;
}

.nav-static-account {
  color: #fff;
  padding: 5px 10px;
  background-color: #5555;
  border-radius: 5px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  display: block;
}

.nav-static-account:hover {
  -webkit-box-shadow: 0px 0px 10px 0px #170101;
  box-shadow: 0px 0px 10px 0px #170101;
  color: #ff2020;
}

.nav-static-account:active {
  background-color: #333;
}

.icon-shopcart::before {
  content: "\e900";
  color: #2c343c;
}

.nav-static .icon-happy {
  position: absolute;
  right: 5px;
  color: #ffff6f;
  font-size: 20px;
}

/*  */
.nav-fix {
  position: -webkit-sticky;
  position: sticky;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 20px 30px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  top: 0px;
  background-color: #fcfcfc;
  -webkit-box-shadow: 0px 5px 4px 0px #ddd;
  box-shadow: 0px 5px 4px 0px #ddd;
  z-index: 8;
}

.nav-fix * {
  color: #000;
}

.nav-btn {
  display: block;
}

/*  */
/* .line-icon {
	height: 2px;
	display: block;
	width: 100%;
	transition: 0.2s;
	margin: 3px 0;
	background-color: #000;
}
.nav-open {
	position: relative;
	cursor: pointer;
	transition: 0.2s;
	width: 50px;
	z-index: 2;
	height: 45px;
	padding: 0 12px;
	background: none;
	border: 2px solid red;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
}
.nav-open:hover .line-icon{
    margin: 5px 0
}
.nav-open:hover {
}
.nav-open:active {
	background-color: #f00;
}
.nav-open:active .line-icon{
	background-color: #fff;
} */
/*  */
.nav-fix-logo {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  min-width: 129.78px;
}

.nav-fix-logo span:first-child {
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.5px;
  background: -webkit-linear-gradient(left, red, darkviolet, blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-fix-logo hr {
  background: radial-gradient(darkred 20%, red 60%);
  height: 2px;
}

.nav-fix-logo span:last-child {
  width: 100%;
  display: block;
  text-align: center;
  letter-spacing: 2px;
  word-spacing: 3px;
  font-size: 14px;
  text-shadow: 1px 1px 1px #aaa;
}

.nav-fix-links li {
  position: relative;
  display: inline-block;
  margin: 0px 5px;
}

.nav-fix-links a {
  display: block;
  position: relative;
  padding: 10px 15px;
  text-align: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.nav-fix-links li::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: red;
  left: 0px;
  right: 0px;
  bottom: 50%;
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  z-index: 1;
}

.nav-fix-links li::before {
  content: "";
  position: absolute;
  height: 1px;
  background-color: red;
  left: 0px;
  right: 0px;
  top: 50%;
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  z-index: 1;
}

.nav-fix-links li:hover > a {
  background-color: #ffe8e8;
  color: #840202;
}

.nav-fix-links li:hover::after {
  opacity: 1;
  bottom: 0px;
}

.nav-fix-links li:hover::before {
  opacity: 1;
  top: 0px;
}

.nav-fix-links li:hover ul {
  /* display: block; */
  /*									JQUERY							*/
}

/* */
/* */
.nav-fix-links li ul {
  position: absolute;
  left: -50px;
  /* transition: 0.2s; */
  right: -50px;
  background-color: #fafafa;
  -webkit-box-shadow: 0px 1px 5px 0px #d7d7d7;
  box-shadow: 0px 1px 5px 0px #d7d7d7;
  display: none;
  /* opacity: 0; */
  z-index: 3;
  padding-top: 5px;
  max-height: 350px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #ff7070 #f1f1f1;
}

.nav-fix-links li ul li {
  display: block;
  margin: 0;
}

.nav-fix-links li ul li a {
  color: #3e3e3e;
}

.nav-fix-links li ul li li:hover {
  background-color: #fff3f3;
}

/* */
/* */
.nav-fix-logo.mobile {
  display: none;
}

/*  */
.nav-fix-items * {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.nav-fix-shopcart {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.nav-fix-shopcart span:first-child {
  font-size: 20px;
  /* color: black; */
}

.nav-fix-shopcart:hover span:first-child,
.nav-fix-search:hover {
  color: red;
}

.nav-fix-shopcart:hover .nav-fix-shopcart-num {
  color: black;
}

.nav-fix-shopcart-num {
  position: absolute;
  left: 8px;
  bottom: 18px;
  color: red;
  z-index: 1;
  text-shadow: 0px 0px 1px #fcc;
}

.nav-fix-search {
  margin-left: 20px;
  font-size: 18px;
  padding: 5px;
  cursor: pointer;
  line-height: 0;
}

#search-form {
  display: none;
  position: absolute;
  z-index: 1;
  top: 100%;
  right: 0;
  left: 0;
  -webkit-box-shadow: 0px 5px 4px 0px #ddd;
  box-shadow: 0px 5px 4px 0px #ddd;
}

#search-input {
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 5px 15px;
}

#search-input::-webkit-input-placeholder {
  opacity: 1;
}

#search-input:-ms-input-placeholder {
  opacity: 1;
}

#search-input::-ms-input-placeholder {
  opacity: 1;
}

#search-input::placeholder {
  opacity: 1;
}

#search-box {
  position: relative;
}

#search-close {
  position: absolute;
  left: 10px;
  color: #fff;
  cursor: pointer;
  padding: 10px;
}

/*  */
.head-pics {
  height: 600px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  width: 100%;
}

.head-pic {
  display: none;
  height: 100%;
  width: 100%;
  position: relative;
}

.head-pic-dark {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.head-pic-img {
  z-index: -1;
  position: relative;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.head-pic-info {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 2;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.head-pic-title {
  font-size: 30px;
  font-weight: bold;
  text-shadow: 0px 0px 2px #f00;
  text-align: center;
}

.head-pic-text {
  text-align: center;
  width: 80%;
  font-size: 18px;
  margin-top: 15px;
  text-shadow: 0px 3px 3px black;
}

/*  */
.shopcart-box {
  position: fixed;
  z-index: 10;
  bottom: 0;
  overflow: hidden;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.shopcart-items-box {
  height: 100%;
  width: 0px;
  position: relative;
  float: left;
  z-index: 9;
}
#load-cart {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  z-index: 2;
  display: none;
}
#load-cart img {
  width: 150px;
  height: 150px;
}
.shopcart-items {
  position: relative;
  background-color: #000;
  height: calc(100% - 50px);
  -webkit-box-shadow: 0px 0px 20px 0px #000;
  box-shadow: 0px 0px 20px 0px #000;
  width: 100%;
  color: #fff;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #571e1e #000;
}

.shopcart-item {
  background-color: #2f1313;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 15px 0;
  position: relative;
  border-bottom: 1px solid #a40000;
}
.shopcart-item-remove {
  position: absolute;
  bottom: 5px;
  padding: 10px;
  cursor: pointer;
  color: #f00;
  text-shadow: 0px 0px 2px #e109;
}
.shopcart-item-pic {
  width: 100px;
  height: 100px;
  border: 1px solid #aaa;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
}

.shopcart-item-name {
  margin: 10px 0;
  width: 100%;
  text-align: center;
  border-top: 1px dotted #c8a3a3;
  border-bottom: 1px dotted #c8a3a3;
  font-weight: bold;
  padding: 5px 10px;
  text-shadow: 0px 1px 2px #fff;
}

.shopcart-item-info {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.shopcart-item-price::after {
  content: "تومان";
  position: absolute;
  right: 0;
  bottom: -12px;
  font-size: 11px;
  background-color: darkred;
  width: 100%;
  text-align: center;
}

.shopcart-item-price {
  position: relative;
  min-width: 30px;
}

.shopcart-item-count::after {
  content: "x";
  margin-left: 5px;
}

.shopcart-item-count {
  position: relative;
}

.shopcart-item-count::before {
  content: "عدد";
  position: absolute;
  right: 0;
  bottom: -12px;
  font-size: 11px;
  background-color: darkred;
  width: 100%;
  text-align: center;
}

.shopcart-summary {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 20px;
  background-color: #ececec;
  color: #333;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 50px;
}

.shopcart-fullprice::after {
  content: "تومان";
  position: absolute;
  bottom: -7px;
  right: 0;
  left: 0;
  font-size: 11px;
  background-color: #ff6f6f;
  text-align: center;
  color: #fff;
  font-weight: normal;
  text-shadow: 0px 0px 1px #333;
}

.shopcart-fullprice {
  font-weight: bold;
  position: relative;
  padding-bottom: 5px;
  min-width: 30px;
}

.shopcart-pay:hover {
  text-shadow: 0px 1px 2px #2f0404;
}

.shopcart-pay {
  color: black;
  text-shadow: 0px 1px 2px #aaa;
  padding: 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.shopcart-close {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

/*  */
.categories-box {
  margin: 80px 0;
}

.header-text {
  text-align: center;
  margin-bottom: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 10px 0;
  background-color: #c81010;
  color: #fff;
  outline: 5px dotted #790000;
  font-weight: bold;
  text-shadow: 0px 0px 1px black;
}

.categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.category-card {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #f4f4f4;
  margin: 10px;
}

.category-card-img {
  width: 300px;
  height: 300px;
  overflow: hidden;
}

.category-card-img img {
  -webkit-transition: 0.6s all ease-in-out;
  transition: 0.6s all ease-in-out;
  width: 100%;
  height: 100%;
}

.category-card-link {
  margin-top: 10px;
  padding: 15px 0;
  width: 100%;
  background-color: #b92626;
  color: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  position: relative;
  z-index: 1;
}

.category-card-link::after {
  content: "";
  z-index: -1;
  background-color: #5e0909;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.category-card-link:hover::after {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

.category-card:hover img {
  -webkit-transform: rotate(340deg);
  transform: rotate(340deg);
}

/*  */
.product-list {
  width: 100%;
  margin: 20px 0 75px;
  direction: ltr;
}

.slider-item {
  width: 230px;
  height: 270px;
  overflow: hidden;
  margin: 0px 20px;
}

.slider-item * {
  direction: rtl;
}

.slider-item-more-box {
  width: 100%;
  height: 75%;
  position: relative;
  overflow: hidden;
  background-color: #fff;
}

.slider-item-show-more-box {
  position: absolute;
  right: 0px;
  left: 0px;
  top: 0px;
  bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 2;
}

.slider-item-show-more {
  padding: 10px 25px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  color: #fff;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.6s opacity, 0.1s background-color, 0.3s color,
    0.6s -webkit-transform ease-out;
  transition: 0.6s opacity, 0.1s background-color, 0.3s color,
    0.6s -webkit-transform ease-out;
  transition: 0.6s transform ease-out, 0.6s opacity, 0.1s background-color,
    0.3s color;
  transition: 0.6s transform ease-out, 0.6s opacity, 0.1s background-color,
    0.3s color, 0.6s -webkit-transform ease-out;
  -webkit-transition-delay: 0.75s;
  transition-delay: 0.75s;
}

.slider-item-more {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  -webkit-transition: 0.5s opacity linear 0.5s;
  transition: 0.5s opacity linear 0.5s;
}

.slider-item:hover .slider-item-show-more {
  background-color: #aaa;
  -webkit-transform: scale(6);
  transform: scale(6);
  opacity: 0;
  color: transparent;
  -webkit-transition: 1.5s opacity linear 0.1s, 0.1s background-color,
    0.3s color, 0.6s -webkit-transform ease-out;
  transition: 1.5s opacity linear 0.1s, 0.1s background-color, 0.3s color,
    0.6s -webkit-transform ease-out;
  transition: 0.6s transform ease-out, 1.5s opacity linear 0.1s,
    0.1s background-color, 0.3s color;
  transition: 0.6s transform ease-out, 1.5s opacity linear 0.1s,
    0.1s background-color, 0.3s color, 0.6s -webkit-transform ease-out;
}

.slider-item:hover .slider-item-more {
  z-index: 3;
  opacity: 1;
}

.slider-item-more > * {
  position: absolute;
  font-size: 12px;
}

.slider-item-like {
  left: 0;
  right: 0;
  text-align: center;
  bottom: 14px;
}

.slider-item-like .icon-heart {
  font-size: 80px;
  color: #ff5757;
  text-shadow: 1px 0px 0px #eee, 0px 1px 0px #eee, -1px 0px 0px #eee,
    0px -1px 0px #eee;
  cursor: pointer;
  position: relative;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.slider-item-like .icon-heart:hover {
  color: #ff2020;
}
.icon-heart.liked {
  text-shadow: 2px 0px 0px #900, 0px 2px 0px #900, -2px 0px 0px #900,
    0px -3px 3px #900;
  color: #f00;
}
.slider-item-likes-count {
  position: absolute;
  top: 37%;
  right: 0;
  left: 0;
  color: #333;
  text-shadow: 0px 0px 1px #ddd;
  text-align: center;
}

.slider-item-likes-count {
  position: absolute;
}

.slider-item-view {
  bottom: 0;
  left: 0;
  padding: 5px 10px;
  background-color: #ff5a5a;
  border-radius: 0 20px 0 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #fff;
  text-shadow: 1px 0px 0px #aaa, 0px 1px 0px #aaa, -1px 0px 0px #aaa,
    0px 1px 0px #aaa;
  width: 49%;
  text-align: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.slider-item-addcart {
  bottom: 0;
  right: 0;
  padding: 5px 10px;
  background-color: #ff5a5a;
  border-radius: 20px 0 0 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #fff;
  text-shadow: 1px 0px 0px #aaa, 0px 1px 0px #aaa, -1px 0px 0px #aaa,
    0px 1px 0px #aaa;
  width: 49%;
  text-align: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.slider-item-addcart:hover,
.slider-item-view:hover {
  background-color: #ff2020;
}

.slider-item-img {
  width: 100%;
  height: 100%;
  padding: 15px;
}

.slider-item-info {
  background-color: #fbfafa;
  height: 25%;
  padding: 5px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
}

.slider-item-info > * {
  display: inline-block;
}

.slider-item-name {
  text-align: right;
}

.slider-item-price {
  position: relative;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
}

.slider-item-price::after {
  content: "تومان";
  position: absolute;
  left: calc(100% + 10px);
  font-size: 10px;
  bottom: 4px;
}

.owl-carousel {
  position: relative;
}

.owl-nav {
  text-align: center;
  margin-top: 15px;
}

.owl-stage-outer {
  background-color: #f3f3f3;
}

.owl-nav span {
  font-size: 30px;
  padding: 0px 20px;
  background-color: #310404;
  border-radius: 50%;
  margin: 0 10px;
  color: #fff;
  -webkit-box-shadow: 0px 0px 5px 0px #333;
  box-shadow: 0px 0px 5px 0px #333;
}

.owl-dots {
  display: none;
}

/*  */

.item {
  display: flex;
  flex-flow: row nowrap;
}
.item-pics {
  height: 300px;
  width: 300px;
  overflow: hidden;
  margin-left: 100px;
}
.item-pics img {
  width: 100%;
  height: 100%;
}
.item-body {
  flex-grow: 1;
}
.item-body > * {
  margin-bottom: 15px;
}
.item-title {
  background-color: #555;
  outline: 3px solid #ff4956;
  padding: 5px 15px;
  font-weight: bold;
  position: relative;
  color: #f1f1f1;
  text-shadow: 0px 0px 1px #f00;
  margin-bottom: 20px;
}
.item-title * {
  color: #f1f1f1;
}
.ad-work {
  position: absolute;
  display: inline-block;
  left: 15px;
  outline: 3px dashed red;
  padding: 0px 5px;
}
.ad-work * {
  color: black;
  text-shadow: 0px 0px 1px #ff2f2f;
}
.item-info > :not(:last-child) {
  margin-bottom: 5px;
}
.item-info > * {
  margin-right: 15px;
}
.item-info {
  list-style-type: disclosure-closed;
}
.item-count-box {
  color: #888;
  margin-top: 30px;
}
.item-sold {
  color: #f77;
}
.item-addcart {
  border: 1px dashed #bbb;
  padding: 10px 10px;
  border-radius: 10px;
  position: relative;
}
.item-addcart > * {
  margin: 0px 10px;
}
#add-cart {
  position: absolute;
  left: 0;
  user-select: none;
  cursor: pointer;
  background-color: #ff5a66;
  padding: 0px 5px;
  color: #f5f5f5;
  text-shadow: 0px -1px 0px #000;
}
#add-cart:hover {
  text-shadow: 0px 1px 1px #000;
}
#add-cart:active {
  text-shadow: 0px 0px 1px #000;
}
#add-cart span {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  text-align: center;
  text-shadow: 0px 0px 2px #666;
  box-shadow: 0px 2px 2px 0px #ccc;
  font-size: 12px;
  display: none;
}
#add-success {
  background-color: #17d917;
}
#add-error {
  background-color: #f00;
}
#add-guest {
  background-color: #5f5f5f;
}
#add-count {
  direction: ltr;
  width: 50px;
  outline: 1px solid #eee;
  padding: 0 5px;
}
.comment-box {
  border: 1px solid #ddd;
  padding: 25px 10px;
  border-radius: 15px;
  background-color: #eee4;
}
.comments-title {
  text-align: center;
  font-weight: bold;
  border-bottom: 1px dashed #ddd;
  margin: 15px 0 10px;
}
#new-comment {
  display: block;
  width: 100%;
  margin: 0px auto;
  border: 1px solid #ccc9;
  border-radius: 5px;
  padding: 10px;
  color: #443;
}
#add-comment {
  padding: 10px 20px;
  border: 1px solid #aaa9;
  border-radius: 5px;
  margin: 10px 0;
  display: block;
}
.comment {
  margin: 25px 10px;
  border: 1px solid #aaa7;
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
}
.comment-head {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.comment-reply {
  cursor: pointer;
  align-self: start;
  background-color: #eee7;
  padding: 2px 10px;
  border-radius: 20px;
  transition: 0.2s;
}
.comment-reply:hover {
  background-color: #ddd9;
}
.comment-reply:active {
  background-color: #ddd;
}
.comment-date {
  color: #444;
}
.reply {
  background-color: #f006;
}
.comment-author {
  font-weight: bold;
  text-shadow: 0px 2px 2px #bbb;
  border: 1px solid #eee;
  border-radius: 15px 15px 0 0;
  padding: 5px 10px 0px;
  background-color: #eee3;
}
.comment-admin::before {
  content: "مدیر";
  margin-left: 10px;
  background-color: green;
  display: inline-block;
  padding: 0px 5px;
  border-radius: 30%;
  text-shadow: none;
}
.comment-admin {
  background-color: #10c610;
  color: #fff;
  position: relative;
}
.comment-text {
  margin-right: 15px;
}

/*  */

.shopcart {
  width: 95%;
  margin: 10px auto;
  text-align: center;
  border-collapse: collapse;
}
.shopcart thead {
  border: 2px solid #848484;
}
.shopcart th,
.shopcart td {
  padding: 15px 0;
}
.cart-img {
  width: 100px;
  height: 100px;
}
.shopcart td {
  border: 1px solid #ddd;
  height: 100%;
  vertical-align: middle;
}
.shopcart tbody tr td:last-child {
  color: #ff1d1d;
}
.shopcart a {
  color: #666666;
  transition: 0.2s;
}
.shopcart a:hover {
  color: #220101;
}
.cart-summary {
  background-color: #ffb1b1;
  padding: 30px 20px;
  margin: 50px 0px;
}
.cart-summary h2 {
  background-color: #fd9a9a;
  padding: 10px;
  font-weight: bold;
  font-size: 18px;
  color: white;
}
.cart-summary > div {
  padding: 10px 20px;
  background-color: #ffc1c1;
}
.deliver-type {
  padding: 10px 0;
}
.deliver-type label {
  padding: 0px 5px;
  font-size: 16px;
}
.complete-cart {
  display: block;
  width: 100%;
  background-color: red;
  text-align: center;
  padding: 10px 0;
  font-weight: bold;
  color: #fff;
}
.rem,
.redo {
  color: #fff;
  padding: 5px 5px;
  line-height: 0;
  font-size: 14px;
  font-weight: bold;
  border-radius: 50%;
  transition: 0.2s;
  cursor: pointer;
}
@keyframes warn {
  0% {
    padding: 5px;
  }
  50% {
    padding: 10px 5px;
  }
  100% {
    padding: 5px;
  }
}
.redo {
  transform: scale(1);
  background-color: #0a7031;
  display: none;
  animation-duration: 1s;
  animation-name: warn;
  animation-iteration-count: infinite;
}
.rem {
  background-color: #a00;
}
.rem:hover {
  outline: 3px solid #a00;
  background: none;
  color: #a00;
}
.count {
  width: 55px;
  outline: 1px solid #eee;
  padding: 0px 3px;
}
.confirm {
  position: absolute;
  padding: 5px;
  cursor: pointer;
  background-color: #cecece;
  border-radius: 50%;
  margin: 0px 5px;
  display: none;
}
/*  */

.auth {
  width: min-content;
  margin: 70px auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}
.auth > * {
  margin: 5px 0;
  min-width: 100%;
}
.auth-info {
  background-color: #ff2f2f;
  padding: 5px 10px;
}
.auth-current {
  font-weight: bold;
  color: #fff;
}
.auth-another {
  font-weight: lighter;
  color: #000;
  text-decoration: underline;
  margin-right: 5px;
}
.auth input:not(input[type="checkbox"]) {
  border: 1px solid #9999;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #9991;
}

.auth input:not(input[type="checkbox"]):focus {
  background-color: #fff;
  box-shadow: 0px 1px 5px 0px #ddd;
}
h5.error {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background-color: #ff4949;
  border-radius: 20px;
  font-weight: bold;
  color: #fff;
  margin: 10px 0;
  box-shadow: 0px 3px 5px 0px #3337;
  text-shadow: 0px 2px 1px #000;
}

/*  */

.menu {
  width: 20%;
  padding: 30px 10px;
  list-style: none;
  background-color: #420303;
  float: right;
}
.menu li {
  color: #e6e6e6;
  padding: 10px 10px;
  background-color: #620505;
  margin: 10px 0px;
  transition: 0.5s;
  border-radius: 10px;
}
.menu li:hover {
  background-color: #b70000;
}
.menu li:hover a {
  margin-right: 20px;
}
.menu li a:visited {
  font-weight: bold;
}
.menu a {
  color: #fff;
  text-decoration: none;
  transition: 0.5s;
}

.content {
  display: inline-block;
  width: 80%;
  padding: 50px 15px;
}

.profile {
}
.p-dashboard {
}
.p-title {
}
.p-user {
}
.profile label{}
.profile input{}
.profile input[type="text"],
.profile input[type="email"] {
}
.profile input[type="submit"] {
}
/*  */
.footer {
  background-color: #202020;
  color: #e9e9e9;
  clear: both;
  padding: 60px 40px;
}

.footer-box > * {
  width: 32%;
  display: inline-block;
  vertical-align: top;
  padding: 0 10px;
}

.footer-box p,
.footer-box li,
.footer-box a {
  font-size: 12px;
  text-align: justify;
}

.footer-header {
  width: 100%;
  margin-bottom: 15px;
  font-weight: bold;
  border-bottom: 3px solid #d33b33;
  padding-bottom: 5px;
  color: #fff;
}

.footer-rules-text li::after {
  content: "";
  position: absolute;
  top: 25%;
  bottom: 25%;
  background-color: #991010;
  width: 10px;
  right: -17px;
  z-index: 0;
  left: 0;
  border-radius: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer-rules-text li::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: #ff3636;
  width: 3px;
  right: -13px;
  z-index: -1;
  left: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footer-rules-text li:hover::after {
  background-color: #cf0000;
  -webkit-box-shadow: -1px 0px 5px 0px #000;
  box-shadow: -1px 0px 5px 0px #000;
}

.footer-rules-text li:hover::before {
  width: calc(100% + 13px);
}

.footer-rules-text li {
  position: relative;
  z-index: 1;
  padding: 3px 0;
  margin: 2px 10px 2px 0px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footer-contact-items li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-contact-items li > :first-child {
  font-size: 18px;
  margin-left: 10px;
}

.footer-contact-items li > :last-child {
  direction: ltr;
  color: #e9e9e9;
}

/*  */
@media only screen and (max-width: 888px) {
  .nav-fix-logo {
    display: none;
  }
  .nav-fix-logo.mobile {
    display: block;
  }
  .nav-open > ul {
    display: none;
    position: absolute;
    right: 0px;
    left: -120px;
    top: 110%;
    z-index: 1;
    background-color: #d73f5d;
    -webkit-box-shadow: 0px 2px 4px 0px #353535;
    box-shadow: 0px 2px 4px 0px #353535;
    max-height: 450px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #ff4949 #9b0d0d;
  }
  .nav-open > ul > li {
    display: block;
    margin: 0;
  }
  .nav-open > ul > li ul {
    display: none;
    opacity: 1;
    position: relative;
    left: 0;
    right: 0;
    background-color: #ffacac;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0;
  }
  .nav-open > ul > li ul li a {
    padding: 10px 0;
    text-align: right;
    padding-right: 25px;
  }
  .nav-open > ul > li > a {
    text-align: right;
    color: white;
    padding: 10px;
  }
  .nav-btn {
    display: block;
    padding: 12px;
  }
  .line-icon {
    height: 2px;
    display: block;
    width: 100%;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    margin: 3px 0;
    background-color: #000;
  }
  .nav-open {
    position: relative;
    cursor: pointer;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    width: 50px;
    z-index: 2;
    height: 45px;
    /* padding: 0 12px; */
    background: none;
    border: 2px solid red;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .nav-open:hover > ul {
    /* display: block; */
    /*						JQUERY				*/
  }
  .nav-open:hover .line-icon {
    margin: 5px 0;
  }
  .nav-open:active {
    background-color: #f00;
  }
  .nav-open:active .line-icon {
    background-color: #fff;
  }
  .footer-rules-text li,
  .footer-rules-text a {
    font-size: 10px;
  }

  .footer-box > * {
    width: 100%;
    display: block;
    padding: 10px;
  }
  .item {
    display: flex;
    flex-flow: column nowrap;
  }
  .item-pics {
    margin: 0 0 65px;
    align-self: center;
  }
  .cart-img {
    width: 50px;
    height: 60px;
  }
  .confirm {
    left: 15%;
    bottom: 9px;
  }
  .menu {
    width: 100%;
  }
  .content {
    padding: 30px 15px;
  }
}
/* @media only screen and (max-width:680px){
  .shopcart tr *{
	font-size: 12px;
} */
/* } */
@media only screen and (max-width: 500px) {
  :root {
    --shopcart-width: 200px;
  }
  .nav-static {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    height: 110px;
  }
  .nav-static-account {
    position: absolute;
    bottom: 10px;
  }
  .nav-fix {
    padding: 20px 10px;
  }
  .nav-fix-search {
    margin-left: 10px;
  }
  .head-pics {
    height: 480px;
  }
  .head-pic-title {
    font-size: 22px;
  }
  .head-pic-text {
    font-size: 14px;
  }
  .category-card-img {
    width: 200px;
    height: 200px;
  }
  .count {
    width: 38px;
    padding: 0px;
  }
}

@media only screen and (max-width: 340px) {
  * {
    font-size: 12px;
  }
  .count {
    width: 29px;
  }
}

@media only screen and (max-width: 290px) {
  .nav-fix > *:not(#search-form) {
    margin: 10px 0;
  }
  .nav-fix {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-flow: column-reverse wrap;
    flex-flow: column-reverse wrap;
  }
  .nav-open {
    -ms-flex-item-align: start;
    -ms-grid-row-align: start;
    align-self: start;
  }
  .nav-fix-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
  }
  .nav-static-messages li {
    font-size: 12px;
  }
}
/*# sourceMappingURL=style.css.map */
